BackEnd_Sensor_Node-red.json
[
    {
        "id": "7af0a913d5500150",
        "type": "tab",
        "label": "projeto-sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b588dafc04b0ac85",
        "type": "http in",
        "z": "7af0a913d5500150",
        "name": "",
        "url": "/getSensor",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "dfbe665dd77fba19"
            ]
        ]
    },
    {
        "id": "d01077d6c7ce54ba",
        "type": "http in",
        "z": "7af0a913d5500150",
        "name": "",
        "url": "/addSensor",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "7ffc9822b96b044b"
            ]
        ]
    },
    {
        "id": "817ea51dd1ae0367",
        "type": "http in",
        "z": "7af0a913d5500150",
        "name": "",
        "url": "/getUsuario",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "78c5d8df55405187"
            ]
        ]
    },
    {
        "id": "819411eaaa0540a6",
        "type": "http in",
        "z": "7af0a913d5500150",
        "name": "",
        "url": "/addUsuario",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "9b02ed6df6a41bc1"
            ]
        ]
    },
    {
        "id": "fe2c760baadd7d97",
        "type": "http response",
        "z": "7af0a913d5500150",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 360,
        "wires": []
    },
    {
        "id": "050fdbc422bf9f7a",
        "type": "mysql",
        "z": "7af0a913d5500150",
        "mydb": "a01237eff393b183",
        "name": "",
        "x": 790,
        "y": 360,
        "wires": [
            [
                "fe2c760baadd7d97"
            ]
        ]
    },
    {
        "id": "0d8cd6320bad6167",
        "type": "function",
        "z": "7af0a913d5500150",
        "name": "function 1",
        "func": "let datahora = msg.payload.datahora;\nlet temperatura = msg.payload.temperatura;\nlet umidade = msg.payload.umidade;\n\n// protege contra SQL Injection com placeholders\nmsg.topic = \"insert into leitura (datahora, temperatura, umidade) values (?, ?, ?)\";\nmsg.payload = [datahora, temperatura, umidade];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "050fdbc422bf9f7a",
                "4996af715e13d4cd"
            ]
        ]
    },
    {
        "id": "744f58bc45070ae5",
        "type": "function",
        "z": "7af0a913d5500150",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "050fdbc422bf9f7a"
            ]
        ]
    },
    {
        "id": "1c6ba44f484bb4cd",
        "type": "function",
        "z": "7af0a913d5500150",
        "name": "function 3",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 540,
        "wires": [
            [
                "050fdbc422bf9f7a"
            ]
        ]
    },
    {
        "id": "dfbe665dd77fba19",
        "type": "function",
        "z": "7af0a913d5500150",
        "name": "function 4",
        "func": "msg.topic = \"select * from leitura\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "050fdbc422bf9f7a"
            ]
        ]
    },
    {
        "id": "78c5d8df55405187",
        "type": "json",
        "z": "7af0a913d5500150",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 420,
        "wires": [
            [
                "744f58bc45070ae5"
            ]
        ]
    },
    {
        "id": "7ffc9822b96b044b",
        "type": "json",
        "z": "7af0a913d5500150",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "0d8cd6320bad6167"
            ]
        ]
    },
    {
        "id": "9b02ed6df6a41bc1",
        "type": "json",
        "z": "7af0a913d5500150",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 540,
        "wires": [
            [
                "1c6ba44f484bb4cd"
            ]
        ]
    },
    {
        "id": "4996af715e13d4cd",
        "type": "debug",
        "z": "7af0a913d5500150",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 200,
        "wires": []
    },
    {
        "id": "a01237eff393b183",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "sensor",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "9f38e603dee0f6e9",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "3.0.0"
        }
    }
]